.Service{
    text-align: left;
    margin: 3em 1em;
    padding: .8em;
    padding-bottom: 1.5em;
    box-shadow: 0 0 10px 1px rgba(82, 82, 82, 0.164);
    border-radius: 7px;
    transition: transform .3s , box-shadow .3s;
    /* margin-bottom: 3em; */
}
.Service:hover{
    box-shadow: 0 0 10px 10px rgba(82, 82, 82, 0.164);
    transform: translatey(-15px);
}
.Service img{
    border-radius: 7px;
}
.Service h3{
    font-weight: 700;
    padding-top: 1em;
}
.Service a{
    color: #ED553B;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
