.Subscribe{
    margin: 3em;
    padding: 5em 1em;
    box-shadow: 0 0 10px 1px rgba(82, 82, 82, 0.164);
    border-radius: 9px;
}
.Subscribe form p{
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.Subscribe input{
    padding: 10px, 20px;
    border-radius: 7px;
    border: 1px solid gray;
    margin-bottom: 1em ;
}
.Subscribe button{
    color: tomato;
}

/* for large device */
@media only screen and (min-width:1024px){
    .Subscribe{
        display: grid;
        padding: 1em;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
        margin: 4em 9vw;
        
    }
    .Subscribe input{
        width: 50%;
    }
}